docker-image/config/flows_se-project.json
[{"id":"a0762aeb.a4f0e8","type":"twitter in","z":"9cd565eb.cb3f98","twitter":"","tags":"#Trump,#trump","user":"false","name":"","topic":"tweets","inputs":0,"x":58.5,"y":209,"wires":[["8e5e9a68.610628"]]},{"id":"8e5e9a68.610628","type":"sentiment","z":"9cd565eb.cb3f98","name":"","x":219.5,"y":209,"wires":[["a6c4d6e1.ea3058"]]},{"id":"6e91d266.33929c","type":"tcp out","z":"9cd565eb.cb3f98","host":"localhost","port":"9500","beserver":"client","base64":false,"end":true,"name":"","x":1049.5,"y":396,"wires":[]},{"id":"a6c4d6e1.ea3058","type":"function","z":"9cd565eb.cb3f98","name":"complete-message-to-tcp-stream","func":"var oldMsg = msg;\nvar msg = {};\n\nmsg.payload = oldMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":481.5,"y":209,"wires":[["9a530b69.a21aa8","21a77c22.69bcb4","8e0e2ff1.c5675","f3968b2e.f03dd8","99a2665e.56f4f8","4c045050.6766c"]]},{"id":"9a530b69.a21aa8","type":"debug","z":"9cd565eb.cb3f98","name":"","active":false,"console":"false","complete":"true","x":733.5,"y":70,"wires":[]},{"id":"21a77c22.69bcb4","type":"debug","z":"9cd565eb.cb3f98","name":"","active":false,"console":"false","complete":"false","x":753.5,"y":117,"wires":[]},{"id":"8e0e2ff1.c5675","type":"debug","z":"9cd565eb.cb3f98","name":"","active":false,"console":"false","complete":"payload.topic","x":772.5,"y":162,"wires":[]},{"id":"99a2665e.56f4f8","type":"debug","z":"9cd565eb.cb3f98","name":"","active":false,"console":"false","complete":"payload.location","x":781.5,"y":257,"wires":[]},{"id":"f3968b2e.f03dd8","type":"debug","z":"9cd565eb.cb3f98","name":"","active":false,"console":"false","complete":"payload.tweet","x":772.5,"y":209,"wires":[]},{"id":"4c045050.6766c","type":"function","z":"9cd565eb.cb3f98","name":"stringify-payload","func":"msg.payload = JSON.stringify(msg)\n\nreturn msg;","outputs":1,"noerr":0,"x":776.5,"y":360,"wires":[["6e91d266.33929c","9c211c8b.7b172"]]},{"id":"9c211c8b.7b172","type":"debug","z":"9cd565eb.cb3f98","name":"","active":false,"console":"false","complete":"false","x":1030.5,"y":326,"wires":[]}]