docker-image/config/flows_se-project.json
[{"id":"618fa2.3936706","type":"tab","label":"SE-Project"},{"id":"c5e18a32.830d38","type":"twitter in","z":"618fa2.3936706","twitter":"","tags":"#Trump, #trump","user":"false","name":"","topic":"tweets","inputs":1,"x":418.99998664855957,"y":276.33333015441895,"wires":[["9d6b67d0.b84df"]]},{"id":"9d6b67d0.b84df","type":"sentiment","z":"618fa2.3936706","name":"","x":619.1666488647461,"y":276.33336353302,"wires":[["b03a1c69.8593f"]]},{"id":"36792dd7.69299a","type":"tcp out","z":"618fa2.3936706","host":"localhost","port":"9500","beserver":"client","base64":false,"end":true,"name":"","x":2212.166648864746,"y":341.33336353302,"wires":[]},{"id":"b03a1c69.8593f","type":"function","z":"618fa2.3936706","name":"complete-message-to-tcp-stream","func":"var oldMsg = msg;\nvar msg = {};\n\nmsg.payload = oldMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":880.1666488647461,"y":276.33336353302,"wires":[["85a894ee.69c6f","87af946d.3ab428","8002493d.c3b2f"]]},{"id":"85a894ee.69c6f","type":"debug","z":"618fa2.3936706","name":"","active":false,"console":"false","complete":"true","x":1145.166648864746,"y":184.33336353302002,"wires":[]},{"id":"18cb2a85.51240d","type":"function","z":"618fa2.3936706","name":"stringify-payload","func":"msg.payload = JSON.stringify(msg);\n\nreturn msg;","outputs":1,"noerr":0,"x":1939.166648864746,"y":278.33336353302,"wires":[["36792dd7.69299a","da3877c.d600e08"]]},{"id":"da3877c.d600e08","type":"debug","z":"618fa2.3936706","name":"","active":true,"console":"false","complete":"false","x":2186.166648864746,"y":217.33336353302002,"wires":[]},{"id":"5843bf07.c50518","type":"geohash","z":"618fa2.3936706","name":"calculate-geohash","x":1143.166648864746,"y":680.33336353302,"wires":[["3278be7f.dd7652"]]},{"id":"5acf7453.57038c","type":"http request","z":"618fa2.3936706","name":"here-api-http-request","method":"use","ret":"txt","url":"","tls":"","x":1161.166648864746,"y":542.33336353302,"wires":[["c0a6e7e.2080998"]]},{"id":"87af946d.3ab428","type":"switch","z":"618fa2.3936706","name":"check-if-location-not-empty","property":"payload.location","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","outputs":2,"x":1196.166648864746,"y":400.33336353302,"wires":[["d978b49f.8481e"],["3278be7f.dd7652"]]},{"id":"c0a6e7e.2080998","type":"function","z":"618fa2.3936706","name":"set-lat-long-parameters","func":"try {\nvar payload = JSON.parse(msg.payload);\n} catch (err) {\n    node.error(\"Authentication/Connection to hereMaps failed\");\n}\n\n\nvar msg = {};\nmsg.payload = {};\n\ntry {\nmsg.payload.latitude = payload.Response.View[0].Result[0].Location.DisplayPosition.Latitude;\nmsg.payload.longitude = payload.Response.View[0].Result[0].Location.DisplayPosition.Longitude;\n} catch (err){\n    return [ null, msg ];\n}\n\nreturn [ msg, null ];","outputs":"2","noerr":0,"x":1169.166648864746,"y":607.33336353302,"wires":[["5843bf07.c50518"],["3278be7f.dd7652"]]},{"id":"5034e607.3343a","type":"debug","z":"618fa2.3936706","name":"","active":false,"console":"false","complete":"false","x":1918.166648864746,"y":335.33336353302,"wires":[]},{"id":"8002493d.c3b2f","type":"join","z":"618fa2.3936706","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"","x":1726.166648864746,"y":277.33336353302,"wires":[["18cb2a85.51240d","5034e607.3343a"]]},{"id":"3278be7f.dd7652","type":"function","z":"618fa2.3936706","name":"msg complete","func":"msg.complete = true;\n\nreturn msg;","outputs":1,"noerr":0,"x":1527.166648864746,"y":579.33336353302,"wires":[["8002493d.c3b2f"]]},{"id":"d978b49f.8481e","type":"map-auth","z":"618fa2.3936706","appId":"kKSI4QSzvHq4gDpN185v","appCode":"WJKIQZmBF-rTLvzQptUBTg","x":1127.166648864746,"y":474.33336353302,"wires":[["5acf7453.57038c"]]}]
