docker-image/config/flows_se-project.json
[{"id":"a0762aeb.a4f0e8","type":"twitter in","z":"618fa2.3936706","twitter":"","tags":"","user":"false","name":"","topic":"tweets","inputs":1,"x":56,"y":124,"wires":[["8e5e9a68.610628"]]},{"id":"8e5e9a68.610628","type":"sentiment","z":"618fa2.3936706","name":"","x":219.5,"y":124,"wires":[["a6c4d6e1.ea3058"]]},{"id":"6e91d266.33929c","type":"tcp out","z":"618fa2.3936706","host":"localhost","port":"9500","beserver":"client","base64":false,"end":true,"name":"","x":1812.5,"y":189,"wires":[]},{"id":"a6c4d6e1.ea3058","type":"function","z":"618fa2.3936706","name":"complete-message-to-tcp-stream","func":"var oldMsg = msg;\nvar msg = {};\n\nmsg.payload = oldMsg;\n\nreturn msg;","outputs":1,"noerr":0,"x":480.5,"y":124,"wires":[["9a530b69.a21aa8","99cad9fe.4521a8","4a9acf74.a3089"]]},{"id":"9a530b69.a21aa8","type":"debug","z":"618fa2.3936706","name":"","active":false,"console":"false","complete":"true","x":745.5,"y":32,"wires":[]},{"id":"4c045050.6766c","type":"function","z":"618fa2.3936706","name":"stringify-payload","func":"msg.payload = JSON.stringify(msg);\n\nreturn msg;","outputs":1,"noerr":0,"x":1539.5,"y":126,"wires":[["6e91d266.33929c","9c211c8b.7b172"]]},{"id":"9c211c8b.7b172","type":"debug","z":"618fa2.3936706","name":"","active":false,"console":"false","complete":"false","x":1786.5,"y":65,"wires":[]},{"id":"246aad8.97a4d52","type":"geohash","z":"618fa2.3936706","name":"calculate-geohash","x":743.5,"y":528,"wires":[["e9712ec.582c35"]]},{"id":"288ec7ca.3d3b68","type":"http request","z":"618fa2.3936706","name":"here-api-http-request","method":"use","ret":"txt","url":"","tls":"","x":761.5,"y":390,"wires":[["1455dc6b.4ecb34"]]},{"id":"99cad9fe.4521a8","type":"switch","z":"618fa2.3936706","name":"check-if-location-not-empty","property":"payload.location","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","outputs":2,"x":796.5,"y":248,"wires":[["d7cdb0df.e42c3"],["e9712ec.582c35"]]},{"id":"1455dc6b.4ecb34","type":"function","z":"618fa2.3936706","name":"set-lat-long-parameters","func":"var payload = JSON.parse(msg.payload);\n\nvar msg = {};\nmsg.payload = {};\n\ntry {\nmsg.payload.latitude = payload.Response.View[0].Result[0].Location.DisplayPosition.Latitude;\nmsg.payload.longitude = payload.Response.View[0].Result[0].Location.DisplayPosition.Longitude;\n} catch (err){\n    return [ null, msg ];\n}\n\nreturn [ msg, null ];","outputs":"2","noerr":0,"x":769.5,"y":455,"wires":[["246aad8.97a4d52"],["e9712ec.582c35"]]},{"id":"1857c4bd.0be4cb","type":"debug","z":"618fa2.3936706","name":"","active":false,"console":"false","complete":"false","x":1518.5,"y":183,"wires":[]},{"id":"4a9acf74.a3089","type":"join","z":"618fa2.3936706","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"","x":1326.5,"y":125,"wires":[["4c045050.6766c","1857c4bd.0be4cb"]]},{"id":"e9712ec.582c35","type":"function","z":"618fa2.3936706","name":"msg complete","func":"msg.complete = true;\n\nreturn msg;","outputs":1,"noerr":0,"x":1127.5,"y":427,"wires":[["4a9acf74.a3089","a9396976.5191d"]]},{"id":"d7cdb0df.e42c3","type":"map-auth","z":"618fa2.3936706","appId":"kKSI4QSzvHq4gDpN185v","appCode":"WJKIQZmBF-rTLvzQptUBTg","x":727.5,"y":322,"wires":[["288ec7ca.3d3b68"]]},{"id":"a9396976.5191d","type":"debug","z":"618fa2.3936706","name":"","active":true,"console":"false","complete":"false","x":1360.5,"y":502,"wires":[]}]
